extends layout

block content

  .content.pure-u-1

    .pure-g-r.content-ribbon
      .pure-u-2-3
        .l-box
          h4.content-subhead Application Mode

          p.

            Application Mode is one when your users generally click around in your page, but generally don't load up a whole new page, instead
            your app just loads and refreshes the parts of the page it needs to. An example of this would be Gmail.
            What we do is generally to call <code>browser.id.watch()</code> once but we change the page based on
            what is happeneing. For example, when the user goes from the logged out state, to the logged in state, generally
            we want to hide a few elements on the page, show a few elements, and perhaps load up some fresh content
            for particular parts of the page. Persona Assistant helps you with this.

          h3 Example

          p.
            To use application mode in it's simplest form, use the following code in your <code>onready</code> handler:

          pre.
            $(function() {
              $('body').personaAssistant({
                mode : 'application'
              });
            });

          p.
            Using this code means that much of the work <code>personaAssistant</code> is doing for you is due to
            it's default values. In many cases this is all you need, in others you'll have to set some of
            those yourself.

          h3 {Showing/Hiding} for {Sign In/Loading/Sign Out}

          p.
             <code>Persona Assistant</code> understands three general states of your application. (1) Logged Out, (2)
             Loading, and (3) Logged In. In application mode you have to think about all three.  For example, consider
             the following Jade (assuming you have set <code>res.locals.email</code> to the email address from the
             user's session):

          pre.
            div.persona-logged-out(class=email?'hide':'')
              a.persona-login(href="#") Sign In with Persona
            div.persona-loading Loading ...
            div.persona-logged-in(class=email?'':'hide')
              span.persona-email= email
              a.persona-logout(href="/logout") Sign Out

          h3 Default Values

          p.
            The following is a list of the default value for the plugin which are related to <code>'application'</code>
            mode.

          pre.
            {
                mode               : 'classic',
                loginJsonUrl       : '/login.json',
                logoutUrl          : '/logout',
                loggedInSelector   : '.persona-logged-in',
                loadingSelector    : '.persona-loading',
                loggedOutSelector  : '.persona-logged-out',
                loginBtn           : '.persona-login',
                logoutBtn          : '.persona-logout',
                storeEmailSelector : '.persona-email',
            }

      .pure-u-1-3
        .l-box
          img(src="http://placehold.it/400x250",alt="Placeholder image for example.")

append js
  script(src="/s/js/application.js")

block sign-in
  div.profile
    div.persona-logged-out(class=email?'hide':'')
      a.persona-login(href="#")
        img(src="/s/img/login.png")
    div.pure-menu-heading.persona-loading.hide(style="text-transform: none; display: none;")
      span Loading ...
    div.persona-logged-in.pure-menu-heading(class=email?'':'hide',style="text-transform: none;")
      span.persona-email= email
      |  | 
      a.persona-add(href="/add") Add Email
      |  | 
      a.persona-logout(href="/logout") Sign Out
